@import 'master-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

.about {
  display: flex;
  padding: 20px;
  border-radius: 10px;

  &__title {
    font-size: 50px;
    margin-bottom: 15px;
  }

  &__me {
    flex-grow: 1;
    float: left;
  }

  &__video {
    flex-grow: 2;
    width: 100%;
    margin-left: 20px;
    float: right;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}