@import 'master-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

.about {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  height: 100%;
  background-color: #213D58;
  

  &__title {
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: 1%;
  }

  &__me {
    margin-left: 1%;
  }

  &__card {
    max-width: 100%;
    max-height: 435px;
    margin-right: 25px;
    margin-left: 20px;
    box-shadow: 13px 13px $secondaryColor;
    background: $secondaryColor;

    // @media(min-width: 1200px) {
    //   max-width: 500px;
    //   max-height: 300px;
    // }
  }

  &__video-container {
    margin-left: 25px;
    border-radius: 15px;
  }

  &__video {
    max-width: 745px;
    max-height: 420px;
    margin-left: 20px;
    border-radius: 5px;

    // @media(min-width: 1200px) {
    //   max-width: 500px;
    //   max-height: 300px;
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

