@import 'master-styles.scss';

.app {
  background-color: $backgroundcolor;
  
  &__navbar {
    position: sticky;
    top: 0;
  }

  &__hamburger {
    padding-top: 20px;
    padding-left: 20px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}