@import 'master-styles.scss';

.contact__card {
      display: flex;
      justify-content: center;
      width: 80%;
      height: 100%;
      margin-right: 25px;
      margin-left: 25px;
      background: $backgroundcolor;
      text-align: center;
      padding-bottom: 50px;
      padding-left: 18%;

 .card {
  width: 80%;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 13px 13px #213D58;;
  color: #213D58;
}

.contact__logo {
  padding: 2%;
}

.contact__title {
  text-align: center;
    font-size: 1.5rem;
    color: #213D58;
    padding: 2%;
}

.contact__input {
  padding: 3%;
}

.contact__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  :hover {
    color: #FDE46D;
  }
}

.contact__link {
  padding: 1.5%;
}

}