// Site Colors
$primaryColor: #2C3333;
$secondaryColor: #395B64;
$lightGreenColor: #A5C9CA;
$backgroundcolor: #E7F6F2;

// https://colorhunt.co/palette/f6f6c9bad1c24fa095153462

//Potential swap https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
// #2C3333
// #395B64
// #A5C9CA
// #E7F6F2


// // custom buttons