// Site Colors
$primaryColor: #F6F6C9;
$secondaryColor: #BAD1C2;
$lightGreenColor: #4FA095;
$darkBlue: #153462;

// https://colorhunt.co/palette/f6f6c9bad1c24fa095153462

//Potential swap https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
#2C3333
#395B64
#A5C9CA
#E7F6F2


// custom buttons