@import 'master-styles.scss';

.navbar {
  background: $secondaryColor;
  width: 60px;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__link-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__github {
    margin-bottom: 25px;
  }

  &__logo {
      width: 70px;
      height: 70px;
  }
}