@import 'master-styles.scss';

.projects {
  padding: 5%;

  &__title {
    text-align: center;
    font-size: 1.5rem;
    color: #213D58;
    padding: 3%;
  }

  &__card-group1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 5%;
  }
  
  
  &__card {
    max-height: 35%;
    max-width: 35%;
    
 
    
  }

  &__card-image {
    object-fit: cover;
  }

  &__card-group2 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}