@import 'master-styles.scss';

.skills {
  display: flex;
  padding: 0 20px 10px 20px;
  margin: 0 25px 10px 25px;
  
  &__body {
    flex-grow: 1;
    margin-left: 20px;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    color: #213D58;
    padding: 3%;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }
}