@import 'master-styles.scss';

.splash {
  // a rare use case for vh
  height: 100vh;
  background-color: #E7F6F2;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__socials {
    display: flex;
    gap: 10px;
    // justify-content: center;

    &:hover {
      gap: 30px;
    }
  }

  &__name {
    font-size: 45px;

    h1 {
      margin: 0;
    }
  }

  &__video {
    width: 100vw;
    height: 100%;
    max-height: 960px;
    object-fit: cover;
  }

  // .arrow{
  //   position: absolute;
  //   top: 21%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  // }
  // .arrow span{
  //   display: block;
  //   width: 30px;
  //   height: 30px;
  //   border-bottom: 5px #395B64;
  //   border-right: 5px #395B64;
  //   transform: rotate(45deg);
  //   margin: -10px;
  //   animation: animate 2s infinite;
  // }
  // .arrow span:nth-child(2){
  //   animation-delay: -0.2s;
  // }
  // .arrow span:nth-child(3){
  //   animation-delay: -0.4s;
  // }
  // @keyframes animate {
  //   0%{
  //       opacity: 0;
  //       transform: rotate(45deg) translate(-20px,-20px);
  //   }
  //   50%{
  //       opacity: 1;
  //   }
  //   100%{
  //       opacity: 0;
  //       transform: rotate(45deg) translate(20px,20px);
  //   }
  // }
}